* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* Altı Çizili Linklerin Çizgisini Kaldırır. */
  color: #fff; /* Linklerin Rengini Beyaz Yapar. */
}

ul {
  list-style-type: none; /* Linklerin başındaki noktaları kaldırır. */
}

html {
  font-family: "Open Sans", sans-serif;
}
/* header { 
  position: fixed;
  width: 100%;
} */
/* Navbar Section */
#navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 70px;
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li a {
  padding: 0.5rem;
}

#navbar ul li a:hover {
  background: #336ea2;
  border-radius: 4px;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey;
}

#home img {
  margin-top: 3rem;
  max-width: 100%;
  max-height: auto;
  border-radius: 100%;
}

/* #home .name {
  text-align: center;
} */

#home .name h2 {
  margin-bottom: 0.75rem;
}

#home .name p {
  font-style: italic;
}


#training {
  color: white;
  padding: 1rem;
}
#training .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#training .items .item {
  width: 33%;
  text-align: center;
  margin: 1rem auto;
}
#training .items .item i {
  padding-top: 0.5rem;
}
#training .items .item h3 {
  padding-top: 0;
}
#training .items .item p {
  padding-bottom: 1rem;
}
#training .items .item:hover {
  color: #336ea2;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

/* Courses  */

#courses {
  color: #333;
  padding: 1rem 0;
}
.courses {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.course {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: ghostwhite;
  color: #336ea2;
  border: 1px solid #336ea2;
  border-radius: 10px;
}
.course:hover {
  background: #336ea2;
  color: ghostwhite;
  border: 1px solid #336ea2;
  border-radius: 10px;
}
.course .course-image {
  margin-right: 1rem;
  position: relative;
}
.course .course-image img {
  border-radius: 10px;
}

.course .course-image span {
  background: red;
  padding: 0.25rem;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 0;

}
.courses .course .course-info .title {
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.courses .course .course-info .description {
  letter-spacing: 0.2px;
  margin-bottom: 0.25rem;
  
}
.courses .course .course-info .instructor {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  
}
.courses .course .course-info .rating {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  
}

/* CONTACT */

#contact {
  color: white;
  padding: 1rem;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 1rem auto;
}
#contact .contact-form ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact .contact-form ul li {
  padding: 1rem;
  font-size: 5rem;
}
#contact .contact-form ul li:hover {
  opacity: 75%;
}

